@layer base {
  body {
    block-size: 100dvh;
    display: grid;
    grid-template-rows: 1fr var(--bar-height);

    &.public {
      grid-template-rows: auto 1fr auto;
    }
  }

  :where(#header) {
    position: relative;
    z-index: var(--z-nav);
  }

  :where(#scroll-container) {
    overflow: auto;
  }

  :where(#main) {
    inline-size: 100dvw;
    margin-inline: auto;
    max-inline-size: 100dvw;
    overflow: auto;
    padding-block-end: 1.5rem;
    padding-inline: var(--main-padding);
    text-align: center;

    @media (min-width: 800px) {
      padding-block-end: 6rem; /* Room for cards in the tray */
    }
  }

  :is(#header, #footer) {
    @media print {
      display: none;
    }
  }
}
